* {
    color: white;
    font-size: 18px;
    font-weight: 30;
    word-spacing: 0.5px;
}

body {
    background-color: #0c0a09;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-width: 400px;
    min-height: 400px;
}

.main-top {
    display: flex;
    flex-direction: column;
}